@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rounded-funky {
    border-radius: 15px 50px 30px;
  }
}

@layer base {
  html {
    @apply !scroll-smooth;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 213 62% 11%;
    --primary-foreground: 210 16% 93%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 213 62% 11%;
    --muted: 41 67% 87%;
    --muted-foreground: 210 16% 60%;
    --accent: 44 65% 52%;
    --accent-foreground: 213 62% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 16% 85%;
    --input: 210 16% 88%;
    --ring: 44 65% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 62% 11%;
    --foreground: 210 16% 93%;
    --card: 214 46% 18%;
    --card-foreground: 210 16% 93%;
    --popover: 213 62% 11%;
    --popover-foreground: 210 16% 93%;
    --primary: 210 16% 93%;
    --primary-foreground: 213 62% 11%;
    --secondary: 213 62% 11%;
    --secondary-foreground: 210 16% 93%;
    --muted: 214 46% 18%;
    --muted-foreground: 210 16% 60%;
    --accent: 44 65% 52%;
    --accent-foreground: 213 62% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 46% 18%;
    --input: 214 46% 18%;
    --ring: 44 65% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}
